{% extends 'base.html.twig' %}

{% block title %}Dany lead{% endblock %}

{% block body %}
    <h1>Dany lead</h1>
    <p>{{ lead.name }}</p>
    <p>{{ lead.email }}</p>
    <p>{{ lead.phone }}</p>
    <p>{{ lead.nip }}</p>
    <p>{{ lead.taskDescription }}</p>
    <p>{{ lead.additionalInfo }}</p>
{% endblock %}